@media screen and (max-width:1730px){
    .wrapper{width:70%;}
    figure{margin:10px 6px 0 6px;}
}

@media screen and (max-width:1535px){
    #aries{bottom:215px;}
    #border-cv{right:720px;}
}

@media screen and (max-width:1480px){
    #border-cv{top:400px;}
    #propos{margin:0;}
}

@media screen and (max-width:1380px){
    .container{justify-content:space-around;}
    .container1{justify-content:space-between;}
    #border-cv{top:450px;}
    .compet{padding:0 70px; justify-content:center;}
    .vignette{margin:20px 10px;}
}

@media screen and (max-width:1292px){
    #picture{display:none;}
    #picture_original{display:block; width:350px;}
    #border-cv{top:370px; right:520px;}
    .container1{height:430px;}
}

@media screen and (max-width:1278px){
    #border-cv{right:520px;}
}

@media screen and (max-width:1238px){
    .container1{flex-direction:column; justify-content:center;height:inherit;}
    #propos{width:100%;}
    #photo{margin:70px 50%;left:0;}
    #border-cv{top:-300px; right:30%;}
    #border-cv img{position:relative;left:44.5%;}
    #cv{left:1.8%;}
}

@media screen and (max-width:1227px){
      #cv{left:2.2%;}
}  

@media screen and (max-width:1062px){
    .container{justify-content:space-around;}
    #picto{width:318px;}
    #picto img{height:65px;}
    #picto a:nth-child(2){height:85px; margin:0 57px;}
    #cv{left:3%;}
}

@media screen and (max-width:1024px){
    figcaption{display:none;}
    #print1{display:none;}
    #print2{display:none;}
    #print3{display:none;}
    #print4{display:none;}
    #print5{display:none;}
    #print6{display:none;}
    #print_tab1{display:block; opacity:0.6;}
    #print_tab2{display:block; opacity:0.6;}
    #print_tab3{display:block; opacity:0.6;}
    #print_tab4{display:block; opacity:0.6;}
    #print_tab5{display:block; opacity:0.6;}
    #print_tab6{display:block; opacity:0.6;}
    #web1{display:none;}
    #web2{display:none;}
    #web3{display:none;}
    #web_tab1{display:block; opacity:0.6;}
    #web_tab2{display:block; opacity:0.6;}
    #web_tab3{display:block; opacity:0.6;}
    #epub1{display:none;}
    #epub2{display:none;}
    #epub3{display:none;}
    #epub_tab1{display:block; opacity:0.6;}
    #epub_tab2{display:block; opacity:0.6;}
    #epub_tab3{display:block; opacity:0.6;}
    #motion1{display:none;}
    #motion_tab1{display:block; opacity:0.6;}
    #motion2{display:none;}
    #motion_tab2{display:block; opacity:0.6;}
    #comundi_img{display:none;}
    #comundi_tab_img{display:block; opacity:0.6;}
}

@media screen and (max-width:1010px){
    .compet{padding:0 0;}
    figure{margin:10px 0 0 0;}
}

@media screen and (max-width:981px){
    #photo{margin:90px auto;}
    #picture_original{margin-top:40px;}
    #border-cv{top:-550px; left:-3%;}
    #cv{position:relative; left:1.5%;}
    .compet img:nth-child(4){left:5%}
    #cv{left:3.3%;}
    #propos p{margin-bottom:40px;}
}

@media screen and (max-width:972px){
    .container{width:100%; margin:0 auto;}
    #print{display:none; cursor:auto;}
    #print_1024{display:none;}
    #print_smart{display:block;}
    figcaption{display:none;}
    #citation{/*width:508px; height:445px;*/ border:0.1px solid #9a9999;}
    #web{cursor:auto; display:none;}
    #web:hover{opacity:1;}
    #web_1024{display:none;}
    #web_smart{display:block;}
    #motion{display:none; cursor:auto;}
    #motion:hover{opacity:1;}
    #motion_1024{display:none;}
    #motion_smart{display:block;}
    #cv{left:3.8%;}
}

@media screen and (max-width:911px){
    #cv{left:4.2%;}
}

@media screen and (max-width:889px){
    #cv{left:4.6%;}
}

@media screen and (max-width:849px){
    #cv{left:5%;}
    #contact p:nth-child(2){width:100%;}
}

@media screen and (max-width:807px){
    #cv{left:5.4%;}
}

@media screen and (max-width:791px){ 
    #border-cv{top:-560px; left:-5%;}
    .compet{justify-content:space-around;}
    .vignette{width:45%;}
    h5{top:100px; left:-7px;}
}

@media screen and (max-width:768px){
    .wrapper{width:85%;}
    #propos{margin:0;}
    #border-cv{top:-550px; left:-5%;}
    #cv{left:4%;}
}

@media screen and (max-width:762px){
    #cv{left:4.2%;}
}

@media screen and (max-width:750px){
    .desk{display:none;}
    #m_burger{display:block; position:fixed;margin-left:88%}
    .smart{display:block;}
    .container1{flex-direction:column; justify-content:center;}
    #propos{margin:0 auto; width:100%; font-size:25px; margin-bottom:70px;}
    #picture{display:none;}
    #picture_original{display:block;}
    .container{flex-direction:column; width:330px; margin:0 auto;}
    #print{display:none; cursor:auto;}
    #print_smart{display:block;}
    #citation{width:332px; height:290px; border:0.1px solid #9a9999;}
    #web{cursor:auto; display:none;}
    #web:hover{opacity:1;}
    #web_smart{display:block;}
    #motion{display:none; cursor:auto;}
    #motion:hover{opacity:1;}
    #motion_smart{display:block;}
    #contact p:first-child{font-size:45px;}
    #contact p:nth-child(2){font-size:25px;line-height:30px;}
    #border-cv{top:-585px; left:-5%;}
    .vignette{width:62%;}
    h5{top:150px; left:-17px;}
}

@media screen and (max-width:714px){
    #cv{left:4.5%;}
}

@media screen and (max-width:670px){
    #cv{left:5.6%;}
}

@media screen and (max-width:600px){
    #cv{left:6.2%;}
    #contact p:nth-child(2){width:95%;}
}

@media screen and (max-width:562px){
    #photo{margin:100px auto;}
    .year img{left:25%;}
    .year2 img{left:20%;}
    #print_smart{width:100%;}
    #citation{border:none;width:100%;}
    #web_smart{width:100%;}
    #motion_smart{width:100%;}
    #cv{left:7.6%;}
    #border-cv{top:-605px; left:-5%;}
}

@media screen and (max-width:516px){
    #propos{font-size:25px;}
    #cv{left:8.5%;}
    #border-cv{top:-605px; left:-10%;}
}

@media screen and (max-width:477px){
    #cv{left:10%;}
    .container{width:310px;}
    #picture_original{width:350px;}
    .year img{width:300px;left:25%;}
    .year2 img{width:300px;left:20%;}
}

@media screen and (max-width:440px){
    #cv{left:11%;}
    figure{margin:0;}
    .container{flex-direction:inherit;}
}