body{
    padding:0;
    margin:0;
}

.full{
    background:url(../images/background.jpg)no-repeat fixed;
    background-size:cover;
    height:700px;
    width:100%;
}

.text-head {
    position:relative;
    top:35%;
}

.full p{
    color:white;
    letter-spacing:10px;
    text-align:center;
    position: relative;
    font-family:'Fira Sans', sans-serif;
    font-size:65px;
}

.full p:last-child{
    font-family:'Quicksand', sans-serif;
    position:relative;
    font-size:30px;
    margin-top:54px;
    letter-spacing:4px;
}

.desk{
    /* position:fixed; */
    width:100%;
    z-index:5;
    top:10px;
    right:3%;
}

.desk ul{
    padding:0;
    text-align:right;
}

.desk li{
    display:inline-block;
    margin-right:20px;
    margin-top:15px;
}

.desk p{
    color:black;
    font-size:18px;
    font-family: 'Ubuntu', sans-serif;
    display:inline-block;
}

#menu1{
    height:38px;
    width:150px;
    cursor:pointer;
    display:inline-block;
}

#menu2{
    height:38px;
    width:150px;
    cursor:pointer;
    display:inline-block;
}

#menu3{
    height:38px;
    width:200px;
    cursor:pointer;
    display:inline-block;
}

#menu4{
    height:38px;
    width:100px;
    cursor:pointer;
    display:inline-block;
}

#m_burger{
    position:absolute;
    top:10px;
    margin-left:90%;
    width:50px;
    z-index:20;
    display:none;
}

.smart{
    height:450px;
    position:fixed;
    top:0;
    width:100%;
    background-color:#224164;
    z-index:2;
    top:-450px;
    display:none;    
}

.smart ul{
    text-align: center;
    margin:0 auto;
}

.smart li{
    color:white;
    text-align:center;
    font-size:40px;
    padding:35px 0;
    font-family:'Advent Pro', sans-serif;
}

#menu1_smart{
    cursor:pointer;
}

#menu2_smart{
    cursor:pointer;
}

#menu3_smart{
    cursor:pointer;
}

#menu4_smart{
    cursor:pointer;
}

#croix_b{
    position:absolute;
    width:30px;
    height:auto;
    top:10px;
    margin-left:90%;
    z-index:3;
    top:10px;
    display:none;
}

main{
    margin:0 auto;
}

.wrapper{
    width:1350px;
    margin:0 auto;
}

h1{
    font-size:25px;
    color:#3b3b3b;
    margin:150px 0 50px 0;
    text-align:center;
    font-family:'Fira Sans', sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}

.container1{
    display:-webkit-box;
    -webkit-box-pack:justify;
    display:flex;  
    justify-content:space-between;
}

#propos{
    font-size:18px;
    line-height:30px;
    margin:0 auto;
    width:61%;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
}

h2{
    font-size:25px;
    color:#3b3b3b;
    margin:150px 0 50px 0;
    text-align:center;
    font-family:'Fira Sans', sans-serif;
    text-transform:uppercase;
    font-weight:bold;
}

.df{
    width:340px;
    height:150px;
    transform:skewY(2deg);
    border: 3px solid #313f4f;
}

.section-purple{
    background-color:#f5e6ff;
    margin:150px 0;
    padding:15px 0 25px 0;
}

.savoirs {
    display:none;
    justify-content:space-between;
    width:70%;
    margin:0 auto;
}

h3{
    font-size:25px;
    color:#3b3b3b;
    text-align:center;
    font-family:'Fira Sans', sans-serif;
    font-weight:bold;
    margin-bottom:50px;
}

h4{
    display:flex;
    justify-content:center;
    font-size:23px;
    margin:50px 0 20px 0;
    color:#3b3b3b;
    font-family:'Fira Sans', sans-serif;
}

hr{
    width:50%;
    margin-bottom:20px;
    display:none;
}

#competences-programmes{
    display:flex;
    width:400px;
    margin:0 auto;
    justify-content:space-around;
}

.programmes{
    list-style:none;
    padding:0;
}

.programmes li::before{
    content: "- ";
}

.programmes li{
    position:relative;
    justify-content:center;
    font-family:'Fira Sans', sans-serif;
    color:#5c5c5c;
    font-size:17px;
    text-transform:uppercase;
    letter-spacing:2px;;
    line-height:30px;
}

.year{
    font-size:60px;
    color:#313f4f;
    margin:0 0 30px 0;
    
}

.container{
    display:-webkit-box;
    -webkit-box-pack:justify;
    flex-wrap: wrap;
    display:flex;  
    justify-content:flex-start;
    flex-wrap:wrap;
}

figure{
    position:relative;
    margin:90px 50px 0 50px;
    overflow:hidden;
}

#print1, #print2, #print3, #print4, #print5, #print6{
    cursor: pointer;
    transition: 0.3s;
    width:250px;
    opacity:0.6;
}

#print1:hover, #print2:hover, #print3:hover, #print4:hover, #print5:hover, #print6:hover{opacity:1;}

#print_tab1, #print_tab2, #print_tab3, #print_tab4, #print_tab5, #print_tab6{
    width: 290px;
    display:none;
}

#print_smart1, #print_smart2, #print_smart3, #print_smart4, #print_smart5, #print_smart6{
    display:none;
}

#citation{
    width:251px;
    border:0.1px solid #9a9999;
}

#citation img{
    position:relative;
    left:1px;
    top:2px; 
}

#web1, #web2, #web3{
    cursor: pointer;
    transition: 0.3s;
    width:250px;
    opacity:0.6;
}

#web1:hover, #web2:hover, #web3:hover{opacity:1;}

#web_tab1, #web_tab2, #web_tab3{
    width: 290px;
    display:none;
}

#web_smart1, #web_smart2, #web_smart3{
    display:none;
}

#epub1, #epub2, #epub3{
    cursor: pointer;
    transition: 0.3s;
    width:250px;
    opacity:0.6;
}

#epub_tab1, #epub_tab2, #epub_tab3{
    width: 290px;
    display:none;
}

#epub_smart1, #epub_smart2, #epub_smart3{
    display:none;
}

.border-web{
    height:40px;
    width:150px;
    z-index:20;
    margin:50px auto;
    border:0.5px solid white;
    
}

.border-web a{
    text-decoration:none;
}

.html{
    font-size:30px;
    text-align:center;
    font-family:'Raleway', sans-serif;
    color:white;
    position:relative;
    top:5px;
}

#motion1, #motion2, #motion3{
    cursor: pointer;
    transition: 0.3s;
    width:250px;
    opacity:0.6;
}

#motion1:hover, #motion2:hover, #motion3:hover{opacity:1;}

#motion_tab1, #motion_tab2, #motion_tab3{
    width: 290px;
    display:none;
}

#motion_smart1, #motion_smart2, #motion_smart3{
    display:none;
}

video{
    margin:0 auto;
    width:700px;
}

#comundi_img{
    cursor: pointer;
    transition: 0.3s;
    width:250px;
    opacity:0.6;
}

#comundi_tab_img{
    display:none;
    width:290px;
}

#comundi_smart_img{
    display:none;
}

.hidden{
    background-color:white;
    width:100%;
    height:50px;
    position:relative;
    z-index:1;
}

figcaption{
    background-color:rgba(255, 255, 255, 0.7);
    width:100%;
    height:40px;
    position:absolute;
    font-weight:bold;
}

figure:hover figcaption{
    opacity:1;
    z-index:6;
}

figcaption h5{
    text-align:center;
    padding-top:10px;
    color:black;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    margin:0;
}

/* The Modal (background) */
.modal{
    display: none;
    position: fixed;
    z-index: 30;
    /*padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal_m{
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 30;
    /*padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal p{
    color:white;
    margin:0;
}

.mockup{
    color:white;
}

/* Modal Content (Image) */
.modal-content{
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
    margin-top:80px;
}

.modal-mockup{
    margin: auto;
    display: block;
    width:30%;
    max-width: 700px;
    margin-top:100px;
    margin-bottom:100px;
}

/* Add Animation */
.modal-content, .modal-mockup{    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom{
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@-o-keyframes zoom{
    from {-o-transform:scale(0)} 
    to {-o-transform:scale(1)}
}

@-moz-keyframes zoom{
    from {-moz-transform:scale(0)} 
    to {-moz-transform:scale(1)}
}

@-ms-keyframes zoom{
    from {-ms-transform:scale(0)} 
    to {-ms-transform:scale(1)}
}

@keyframes zoom{
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close{
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    position:fixed;
}

.close:hover{
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.df:nth-child(2){
    width:340px;
    height:150px;
    transform:skewY(2deg);
    border: 3px solid #313f4f;
    margin:0 auto;
}

.clearfix{
    clear:both;
}

.compet{
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    margin:50px 0;
    padding: 0 170px;
}

.compet img{
    width:80%;
    margin:20px;
    position:relative;
    bottom:30px;
}

.vignette{
    width:21%;
    margin:50px 0;
    opacity:0.7;
}

.vignette:hover{
    opacity:1;
}

h5{
    position:relative;
    display:flex;
    justify-content:center;
    font-family:'Fira Sans', sans-serif;
    color:#3b3b3b;
    font-size:17px;
    text-transform:uppercase;
    letter-spacing:2px;;
}

footer{
    background-color:#4e724e;
}

footer p{
    text-align:center;
}

footer p:first-child{
    margin-bottom:30px;
}

footer p:nth-child(2){
    font-size:20px;
    width:750px;
    margin:0 auto;
    line-height:25px;
    
}

#picto{
    margin:0 auto;
    width:140px;
    position:relative;
    padding:20px 0;
}

#picto img{
    height:35px;
    width:auto;
}

#picto a:nth-child(2){
    height:35px;
    width:auto;
    margin:0 10px;
}

#btn-top{
    background:url(../images/top-arrow2.png)no-repeat;
    width:45px;
    height:45px;
    position:relative;
    left:95%;
    padding-bottom:10px;
    cursor:pointer;
    margin-top:150px;
}

#btn-top:hover{
    background:url(../images/top-arrow_hover.png)no-repeat;
}